# Pliki Gradle
.gradle/
build/
out/

# Pliki IDE
.idea/
*.iml
*.ipr
*.iws

# Pliki systemowe
.DS_Store
Thumbs.db

# Logi
*.log

# Pliki testowe lub tymczasowe
*.tmp
*.swp

# Konfiguracje lokalne
local.properties
.env
